<div ng-controller="AppsListController as alc">
    <div class="panel panel-default">
        <!-- Añadir grafo tipo: http://bl.ocks.org/mbostock/1153292 -->
        <div class="panel-heading">Active Applications</div>
        <div class="panel-body">
            <p>Applications and nodes that have reported activity in the last 5 minutes</p>

            <div id="apps-node-map"></div>
            <style>
                .link {
                    fill: none;
                    stroke: #666;
                    stroke-width: 2px;
                    stroke-dasharray: 0, 2 1;
                }

                circle {
                    stroke: #333;
                    stroke-width: 1.5px;
                }

                .app {
                    fill: orange;
                }

                .node {
                    fill: #ccc;
                }

                text {
                    font: 10px sans-serif;
                    pointer-events: none;
                }
            </style>
            <script>

                $.get("/apps", function (data) {
                    var links = [];
                    data = JSON.parse(data);
                    for (var appKey in data) {
                        for (var nodeKey in data[appKey]) {
                            links.push({source: data[appKey], target: data[appKey][nodeKey]});
                        }
                    }


                    // http://blog.thomsonreuters.com/index.php/mobile-patent-suits-graphic-of-the-day/
                    /*var links = [
                        {source: "App1", target: "Node1"},
                        {source: "App1", target: "Node2", type: "licensing"},
                        {source: "App2", target: "Node2", type: "licensing"},
                        {source: "App2", target: "Node3", type: "licensing"},
                        {source: "App2", target: "Node4", type: "licensing"},
                        {source: "App3", target: "Node5", type: "licensing"},
                        {source: "App3", target: "Node1", type: "licensing"}
                    ];*/

                    var nodes = {};
                    var isApp = {};

                    // Compute the distinct nodes from the links.
                    links.forEach(function (link) {
                        link.source = nodes[link.source] || (nodes[link.source] = {name: link.source});
                        link.target = nodes[link.target] || (nodes[link.target] = {name: link.target});
                        isApp[link.source.name] = true;
                    });

                    var width = 640,
                            height = 300,
                            appRadius = 30,
                            nodeRadius = 15;

                    var force = d3.layout.force()
                            .nodes(d3.values(nodes))
                            .links(links)
                            .size([width, height])
                            .linkDistance(appRadius * 3)
                            .charge(-300)
                            .on("tick", tick)
                            .start();

                    var svg = d3.select("#apps-node-map").append("svg")
                            .attr("width", "100%")
                            .attr("height", height);

                    var path = svg.append("g").selectAll("path")
                            .data(force.links())
                            .enter().append("path")
                            .attr("class", function (d) {
                                return "link " + d.type;
                            })
                            .attr("marker-end", function (d) {
                                return "url(#" + d.type + ")";
                            });

                    var apps = svg.append("g").selectAll("circle")
                            .data(force.nodes())
                            .enter().append("circle")
                            .attr("class", function(d) { return isApp[d.name] ? "app" : "node"; })
                            .attr("r", function(d) { return isApp[d.name] ? appRadius : nodeRadius; })
                            .call(force.drag);

                    var text = svg.append("g").selectAll("text")
                            .data(force.nodes())
                            .enter().append("text")
                            .attr("x", function(d) { return isApp[d.name] ? -appRadius+2 : nodeRadius + 2; })
                            .attr("y", ".31em")
                            .text(function (d) {
                                return d.name;
                            });

                    // Use elliptical arc path segments to doubly-encode directionality.
                    function tick() {
                        path.attr("d", linkArc);
                        apps.attr("transform", transform);
                        text.attr("transform", transform);
                    }

                    function linkArc(d) {
                        var dx = d.target.x - d.source.x,
                                dy = d.target.y - d.source.y,
                                dr = Math.sqrt(dx * dx + dy * dy);
                        return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
                    }

                    function transform(d) {
                        return "translate(" + d.x + "," + d.y + ")";
                    }

                    setTimeout(function() {
                        force
                        apps.enter().append("circle")
                                .attr("r",10)
                        ;


                    },2000);
                });

            </script>

            <div class="col-md-3" ng-repeat="(appName,nodes) in alc.appsTree">
                <div class="panel panel-info">
                    <div class="panel-heading">{{appName}}</div>
                    <div class="panel-body">
                        <p ng-repeat="node in nodes">{{node}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>