iaas/energy-modeller/energymodeller.properties
iaas/energy-modeller/energymodeller_calibrator.properties
iaas/energy-modeller/energymodeller_cpu_predictor.properties
iaas/energy-modeller/src/main/.sigar_shellrc
iaas/iaas-pricing-modeller/target/classes
iaas/iaas-pricing-modeller/target/test-classes
iaas/iaas-slamanager/core/.classpath
iaas/iaas-slamanager/core/.project
iaas/iaas-slamanager/core/.settings
iaas/iaas-slamanager/core/target
iaas/iaas-slamanager/main/.classpath
iaas/iaas-slamanager/main/.project
iaas/iaas-slamanager/main/.settings
iaas/iaas-slamanager/main/target
iaas/iaas-slamanager/osgi-config
iaas/iaas-slamanager/planning-optimization/.classpath
iaas/iaas-slamanager/planning-optimization/.project
iaas/iaas-slamanager/planning-optimization/.settings
iaas/iaas-slamanager/planning-optimization/target
iaas/iaas-slamanager/provisioning-adjustment/.classpath
iaas/iaas-slamanager/provisioning-adjustment/.project
iaas/iaas-slamanager/provisioning-adjustment/.settings
iaas/iaas-slamanager/provisioning-adjustment/target
iaas/old-vmm/clopla/.idea
iaas/old-vmm/clopla/clopla.iml
iaas/old-vmm/vmm-client/.idea
iaas/old-vmm/vmm-client/vmm-client.iml
iaas/old-vmm/vmmanager-frontend/.idea
iaas/old-vmm/vmmanagercore/*.iml
iaas/old-vmm/vmmanagercore/*.ipr
iaas/old-vmm/vmmanagercore/.idea
paas/.git
paas/README.md
paas/application-manager/doc/doc
paas/paas-pricing-modeller/target/classes
paas/paas-pricing-modeller/target/test-classes
paas/slam-em-pm-integrator/*.iml
paas/slam-em-pm-integrator/.idea
paas/slam-em-pm-integrator/emslamintegrator.ipr
paas/virtual-machine-contextualizer/logs/vmc.log.1
paas/virtual-machine-contextualizer/velocity.log.1
saas/code-optimiser-plugin/bundles/org.jvmmonitor.agent/jvmmonitor-agent.jar
saas/code-optimiser-plugin/bundles/org.jvmmonitor.agent/lib/*.jar
saas/code-optimiser-plugin/bundles/org.jvmmonitor.core/jvmmonitor-core.jar
saas/code-optimiser-plugin/bundles/org.jvmmonitor.core/lib/*.jar
saas/code-optimiser-plugin/bundles/org.jvmmonitor.core/lib/jvmmonitor-agent.jar
saas/code-optimiser-plugin/bundles/org.jvmmonitor.ui/jvmmonitor-ui.jar
saas/code-optimiser-plugin/bundles/org.jvmmonitor.ui/lib/*.jar
saas/compss-plugin/ascetic-deployer/.classpath
saas/compss-plugin/ascetic-deployer/lib/ant-antlr.jar
saas/programming_model/compss/programming_model/annotations/target
saas/programming_model/compss/runtime/.pom.xml.kate-swp
saas/programming_model/compss/runtime/adaptors/commons/target
saas/programming_model/compss/runtime/commons/target
saas/programming_model/compss/runtime/engine/.pom.xml.kate-swp
saas/programming_model/compss/runtime/engine/target
saas/programming_model/compss/runtime/loader/target
saas/programming_model/compss/runtime/resources/commons/target
saas/programming_model/compss/runtime/toolkit-interaction/target
saas/programming_model/compss/tools/monitor/target
saas/virtual-machine-image-constructor/logs
saas/virtual-machine-image-constructor/runtime/virtual-machine-image-constructor.jar
tests/vmic/logs
tests/vmic/target
utils/energy-modeller-benchtest/energymodeller.properties
utils/energy-modeller-benchtest/energymodeller_calibrator.properties
utils/energy-modeller-benchtest/energymodeller_cpu_predictor.properties
utils/energy-modeller-benchtest/filter.properties
utils/energy-modeller-data-logger/target
utils/energy-modeller-display-tool/target
utils/ovf-xmlbeans-api/velocity.log.1
