* text=auto !eol
IndustryPilotes/ATC/NewsAsset/NewsAsset_KPI_Modelling/.project -text
IndustryPilotes/ATC/NewsAsset/NewsAsset_KPI_Modelling/NewsAsset-model.di -text
IndustryPilotes/ATC/NewsAsset/NewsAsset_KPI_Modelling/NewsAsset-model.notation -text
IndustryPilotes/ATC/NewsAsset/NewsAsset_KPI_Modelling/NewsAsset-model.uml -text
iaas/EnergyModeller/LICENCE.TXT -text
iaas/EnergyModeller/pom.xml -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/EnergyModeller.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/datastore/DatabaseConnector.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/energypredictor/DefaultEnergyPredictor.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/energypredictor/EnergyPredictorInterface.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/energypredictor/transformation/KPIAggregator.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/energypredictor/transformation/KPINormaliser.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/energypredictor/transformation/machinetovm/DefaultKPITranslator.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/energypredictor/transformation/machinetovm/KPITranslatorInterface.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/queryinterface/QueryTypeInformation.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/queryinterface/TimePeriod.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/queryinterface/datasourceclient/LoadEnergyMapper.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/queryinterface/datasourceclient/energy/DefaultEnergyClient.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/queryinterface/datasourceclient/energy/EnergyDataSource.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/queryinterface/datasourceclient/energy/JSONParser.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/queryinterface/datasourceclient/energy/JSONParserTest.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/queryinterface/datasourceclient/energy/KwAPIClient.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/queryinterface/datasourceclient/energy/WattsUpMeterClient.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/queryinterface/datasourceclient/energy/ZabbixClient.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/queryinterface/datasourceclient/energy/probeids.json -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/queryinterface/datasourceclient/energy/sample.json -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/queryinterface/datasourceclient/energy/sampleKwAPI.json -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/queryinterface/datasourceclient/load/DefaultLoadClient.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/queryinterface/datasourceclient/load/LoadDataSource.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/types/EnergyUsageSummary.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/types/MachineEnergyUsage.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/types/energyuser/CandidateVMHostMapping.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/types/energyuser/EnergyUsageSource.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/types/energyuser/Host.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/types/energyuser/VM.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/types/input/VMWorkloadProfile.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/types/usage/CurrentUsageRecord.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/types/usage/EnergyUsagePrediction.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/types/usage/EnergyUsageRecord.java -text
iaas/EnergyModeller/src/main/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/types/usage/HistoricUsageRecord.java -text
iaas/EnergyModeller/src/test/java/eu/ascetic/asceticarchitecture/iaas/energymodeller/AppTest.java -text
paas/provider-registry/pom.xml -text
paas/virtual-machine-contextualizer/runtime/VmContextualizer.jar -text
paas/virtual-machine-contextualizer/runtime/agents/vpn.tar.gz -text
paas/virtual-machine-contextualizer/runtime/config.properties.example -text
paas/virtual-machine-contextualizer/runtime/templates/patchs/qemu-0.15.1-scsi.patch -text
paas/virtual-machine-contextualizer/runtime/templates/scripts/linux/context_application -text
paas/virtual-machine-contextualizer/runtime/templates/scripts/linux/context_network -text
paas/virtual-machine-contextualizer/src/main/java/eu/ascetic/vmc/api/Classes.PNG -text svneol=unset#image/png
paas/virtual-machine-contextualizer/src/main/java/eu/ascetic/vmc/api/Classes.ucls -text
paas/virtual-machine-contextualizer/src/main/java/eu/ascetic/vmc/api/Core/Core.PNG -text svneol=unset#image/png
paas/virtual-machine-contextualizer/src/main/java/eu/ascetic/vmc/api/Core/Core.ucls -text
paas/virtual-machine-contextualizer/src/main/java/eu/ascetic/vmc/api/DataAggregator/DataAggregator.PNG -text svneol=unset#image/png
paas/virtual-machine-contextualizer/src/main/java/eu/ascetic/vmc/api/DataAggregator/DataAggregator.ucls -text
paas/virtual-machine-contextualizer/src/main/java/eu/ascetic/vmc/api/DataModel/DataModel.PNG -text svneol=unset#image/png
paas/virtual-machine-contextualizer/src/main/java/eu/ascetic/vmc/api/DataModel/DataModel.ucls -text
paas/virtual-machine-contextualizer/src/main/java/eu/ascetic/vmc/api/DataModel/Packages.PNG -text svneol=unset#image/png
paas/virtual-machine-contextualizer/src/main/java/eu/ascetic/vmc/api/DataModel/Packages.ucls -text
paas/virtual-machine-contextualizer/src/main/java/eu/ascetic/vmc/api/ImageConverter/ImageConverter.PNG -text svneol=unset#image/png
paas/virtual-machine-contextualizer/src/main/java/eu/ascetic/vmc/api/ImageConverter/ImageConverter.ucls -text
paas/virtual-machine-contextualizer/src/main/java/eu/ascetic/vmc/api/ImageFabricator/ImageFabricator.PNG -text svneol=unset#image/png
paas/virtual-machine-contextualizer/src/main/java/eu/ascetic/vmc/api/ImageFabricator/ImageFabricator.ucls -text
paas/virtual-machine-contextualizer/src/main/java/eu/ascetic/vmc/api/IsoCreator/IsoCreator.PNG -text svneol=unset#image/png
paas/virtual-machine-contextualizer/src/main/java/eu/ascetic/vmc/api/IsoCreator/IsoCreator.ucls -text
paas/virtual-machine-contextualizer/src/main/java/eu/ascetic/vmc/api/Packages.PNG -text svneol=unset#image/png
paas/virtual-machine-contextualizer/src/main/java/eu/ascetic/vmc/api/Packages.ucls -text
saas/SaaSModelling/ASCETIC_Papyrus_KPI_Profile/.project -text
saas/SaaSModelling/ASCETIC_Papyrus_KPI_Profile/model.profile.di -text
saas/SaaSModelling/ASCETIC_Papyrus_KPI_Profile/model.profile.notation -text
saas/SaaSModelling/ASCETIC_Papyrus_KPI_Profile/model.profile.uml -text
utils/libvirt/AUTHORS -text
utils/libvirt/ChangeLog -text
utils/libvirt/LICENSE -text
utils/libvirt/NEWS -text
utils/libvirt/patch1.patch -text
utils/libvirt/patch10.patch -text
utils/libvirt/patch11.patch -text
utils/libvirt/patch12.patch -text
utils/libvirt/patch2.patch -text
utils/libvirt/patch3.patch -text
utils/libvirt/patch4.patch -text
utils/libvirt/patch5.patch -text
utils/libvirt/patch6.patch -text
utils/libvirt/patch7.patch -text
utils/libvirt/patch8.patch -text
utils/libvirt/patch9.patch -text
utils/ovf-xmlbeans/src/main/xsdconfig/ovf.xsdconfig -text
utils/wattsup-java-sdk/LICENSE -text
utils/wattsup-java-sdk/README.md -text
utils/wattsup-java-sdk/conf/cli.conf -text
utils/wattsup-java-sdk/lib/jcommon-1.0.17.jar -text
utils/wattsup-java-sdk/lib/jfreechart-1.0.14.jar -text
utils/wattsup-java-sdk/lib/nrjavaserial-3.8.8.jar -text
utils/wattsup-java-sdk/wattsup-jsdk-console/src/main/resources/META-INF/services/org.clamshellcli.api.Plugin -text
utils/wattsup-java-sdk/wattsup-jsdk-console/src/main/resources/console.msg -text
utils/wattsup-java-sdk/wattsup-jsdk-core/src/main/resources/db.sql -text
utils/wattsup-java-sdk/wattsup-jsdk-core/src/test/resources/database.yml -text
utils/wattsup/src/main/java/eu/ascetic/utils/Settings.java -text
utils/wattsup/src/main/java/eu/ascetic/utils/WattsUpLanConfigurationTool.java -text
