<h1>Change user password</h1>

#if($error)
<div style="color: red">$error</div>
#end
<form action="/gui/users" method="POST">
	<table>
		<tr><td>User:</td><td> <input name="user"/></td></tr>
		<tr><td>Old Password:</td><td> <input name="oldpwd" type="password"/></td></tr>
		<tr><td>New Password:</td><td> <input name="newpwd1" type="password"/></td></tr>
		<tr><td>Repeat new password:</td><td> <input name="newpwd2" type="password"/></td></tr>
		<tr><td><button type="submit">Submit!</button> </td></tr>
	</table>
</form>