<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!-- =========================================================================== -->
<!-- Copyright (c) 2010 JVM Monitor project. All rights reserved.                -->
<!--                                                                             -->
<!-- This code is distributed under the terms of the Eclipse Public License v1.0 -->
<!-- which is available at http://www.eclipse.org/legal/epl-v10.html             -->
<!-- =========================================================================== -->
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%javaMonitorCagetoryName" id="org.jvmmonitor.ui">
      </category>
      <view
            name="%jvmExplorerName"
            icon="icons/full/eview16/vm_explorer.png"
            category="org.jvmmonitor.ui"
            class="org.jvmmonitor.internal.ui.views.JvmExplorer"
            id="org.jvmmonitor.ui.JvmExplorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.jvmmonitor.internal.ui.JavaMonitorPerspectiveFactory"
            icon="icons/full/eview16/monitor_persp.png"
            id="org.jvmmonitor.ui.JavaMonitorPerspective"
            name="%javaMonitorPerspectiveName">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.jvmmonitor.ui.JavaMonitorPerspective">
         <actionSet
               id="org.eclipse.jdt.ui.JavaActionSet">
         </actionSet>
         <actionSet
               id="org.eclipse.debug.ui.breakpointActionSet">
         </actionSet>
         <actionSet
               id="org.eclipse.jdt.ui.JavaElementCreationActionSet">
         </actionSet>
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
         <showInPart
               id="org.eclipse.team.ui.GenericHistoryView">
         </showInPart>
         <showInPart
               id="org.eclipse.ui.navigator.ProjectExplorer">
         </showInPart>
         <perspectiveShortcut
               id="org.eclipse.ui.resourcePerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspectiveShortcut>
         <viewShortcut
               id="org.eclipse.jdt.ui.PackagesView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.navigator.ProjectExplorer">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.ProblemView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.TaskList">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.ContentOutline">
         </viewShortcut>
         <newWizardShortcut
               id="org.eclipse.jdt.ui.wizards.NewPackageCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.jdt.ui.wizards.NewClassCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.jdt.ui.wizards.NewInterfaceCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.jdt.ui.wizards.NewSourceFolderCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.ui.wizards.new.file">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.ui.wizards.new.folder">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.jvmmonitor.ui.JvmExplorer"
            labelProvider="org.jvmmonitor.internal.ui.properties.TitleProvider">
         <propertyCategory
               category="monitor"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.jvmmonitor.ui.JvmExplorer">
         <propertyTab
               category="monitor"
               id="org.jvmmonitor.ui.timelineTab"
               label="%timelineTabLabel">
         </propertyTab>
         <propertyTab
               afterTab="org.jvmmonitor.ui.timelineTab"
               category="monitor"
               id="org.jvmmonitor.ui.threadsTab"
               label="%threadsTabLabel">
         </propertyTab>
         <propertyTab
               afterTab="org.jvmmonitor.ui.threadsTab"
               category="monitor"
               id="org.jvmmonitor.ui.memoryTab"
               label="%memoryTabLabel">
         </propertyTab>
         <propertyTab
               afterTab="org.jvmmonitor.ui.memoryTab"
               category="monitor"
               id="org.jvmmonitor.ui.cpuTab"
               label="%cpuTabLabel">
         </propertyTab>
         <propertyTab
               afterTab="org.jvmmonitor.ui.cpuTab"
               category="monitor"
               id="org.jvmmonitor.ui.mbeansTab"
               label="%mbeansTabLabel">
         </propertyTab>
         <propertyTab
               afterTab="org.jvmmonitor.ui.mbeanTab"
               category="monitor"
               id="org.jvmmonitor.ui.overviewTab"
               label="%overviewTabLabel">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.jvmmonitor.ui.JvmExplorer">
         <propertySection
               class="org.jvmmonitor.internal.ui.properties.timeline.TimelineSection"
               id="org.jvmmonitor.ui.timelineSection"
               tab="org.jvmmonitor.ui.timelineTab">
            <input
                  type="org.jvmmonitor.core.IActiveJvm">
            </input>
         </propertySection>
         <propertySection
               class="org.jvmmonitor.internal.ui.properties.thread.ThreadsSection"
               id="org.jvmmonitor.ui.threadsSection"
               tab="org.jvmmonitor.ui.threadsTab">
            <input
                  type="org.jvmmonitor.core.IActiveJvm">
            </input>
         </propertySection>
         <propertySection
               class="org.jvmmonitor.internal.ui.properties.memory.MemorySection"
               id="org.jvmmonitor.ui.memorySection"
               tab="org.jvmmonitor.ui.memoryTab">
            <input
                  type="org.jvmmonitor.core.IActiveJvm">
            </input>
         </propertySection>
         <propertySection
               class="org.jvmmonitor.internal.ui.properties.cpu.CpuSection"
               id="org.jvmmonitor.ui.cpuSection"
               tab="org.jvmmonitor.ui.cpuTab">
            <input
                  type="org.jvmmonitor.core.IActiveJvm">
            </input>
         </propertySection>
         <propertySection
               class="org.jvmmonitor.internal.ui.properties.mbean.MBeansSection"
               id="org.jvmmonitor.ui.mbeansSection"
               tab="org.jvmmonitor.ui.mbeansTab">
            <input
                  type="org.jvmmonitor.core.IActiveJvm">
            </input>
         </propertySection>
         <propertySection
               class="org.jvmmonitor.internal.ui.properties.overview.OverviewSection"
               id="org.jvmmonitor.ui.overviewSection"
               tab="org.jvmmonitor.ui.overviewTab">
            <input
                  type="org.jvmmonitor.core.IActiveJvm">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.jvmmonitor.internal.ui.editors.CpuDumpEditor"
            contributorClass="org.jvmmonitor.internal.ui.editors.CpuDumpEditorActionContributor"
            default="true"
            extensions="cpu"
            icon="icons/full/obj16/cpu_dump.gif"
            id="org.jvmmonitor.ui.dump.cpu"
            name="%cpuDumpEditorName">
      </editor>
      <editor
            class="org.jvmmonitor.internal.ui.editors.ThreadDumpEditor"
            contributorClass="org.jvmmonitor.internal.ui.editors.ThreadDumpEditorActionContributor"
            default="false"
            extensions="thread"
            icon="icons/full/obj16/thread_dump.gif"
            id="org.jvmmonitor.ui.dump.thread"
            name="%threadDumpEditorName">
      </editor>
      <editor
            class="org.jvmmonitor.internal.ui.editors.HeapDumpEditor"
            default="false"
            extensions="heap"
            icon="icons/full/obj16/heap_dump.gif"
            id="org.jvmmonitor.ui.dump.heap"
            name="%heapDumpEditorName">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
            class="org.jvmmonitor.internal.ui.JavaMonitorPreferencePage"
            id="org.jvmmonitor.ui.JavaMonitorPreferencePage"
            name="%monitorPreferencePageName">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.jvmmonitor.internal.ui.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
