<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/jdbc 
	http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd">
	
    <bean id="dataConsumptionDAO" class="eu.ascetic.asceticarchitecture.paas.component.common.dao.impl.DataConsumptionDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="dataEventDAO" class="eu.ascetic.asceticarchitecture.paas.component.common.dao.impl.DataEventDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="emModelDAO" class="eu.ascetic.asceticarchitecture.paas.component.common.dao.impl.EnergyModellerMonitoringDAOImpl">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
     
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://10.15.5.55:3306/ascetic_paas_em" />
        <property name="username" value="root" />
        <property name="password" value="root" />
    </bean>
   
   <bean id="instance" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://10.15.5.55:3306/" />
        <property name="username" value="root" />
        <property name="password" value="root" />
    </bean>
    

<!-- 	<jdbc:initialize-database data-source="instance"> -->
<!-- 		<jdbc:script location="classpath:createdb.sql" /> -->
<!-- 	</jdbc:initialize-database> -->

</beans>